body{
    background-color: black;
    color:seashell;
    font-family:Helvetica;
    font-size: 22px;
    opacity: 0.9;
}

header{
    align-items: center;
    background-color: black;
    border-bottom: 1px solid seashell;
    display: flex;
    height: 69px;
    justify-content: space-between;
    left:0;
    position:fixed;
    top:0;
    width: 100%;
    z-index: 1;

}

.logo{
    max-height: 50px;
    padding-left:10px;
}

.navbar{
    align-items:center;
    display: flex;
    list-style-type: none;
    margin:0;
    padding-left:0;
}

.navbar li{
    margin-left:5px;
    margin-right:10px;
}

main{
    margin:70px 20px 20px 20px;
    opacity: 0.9;
    text-align:center;  
}

.anchor-point{
    position: relative;
    top: -70;
}

.mission-background{
    align-items: center;
    background-image: url(img-mission-background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    height:700px;
    margin-bottom: 70px;
    width:1200px;
}

.mission__text{
    background-color: black;
    width: 1200px;
}

h2, h4{
    margin: 10px;
}

.tea-text{
    margin: 30px auto;
    max-width: 1000px;
}

.tea-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.tea{
    height:200px;
    margin: 0px 10px;
    width: 300px; 
}

.location-background{
    background-image: url(img-locations-background.jpg);
    background-position: center;
    background-size: cover;
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
}

.location-background h2{
    padding-top: 45px;
    margin: 0px;
}
.location-flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 45px;
}

.location-div{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
    min-height: 300px; 
    min-width: 300px;
    opacity: 1;
}

.contact{
    min-height: 200px;
}

footer{
    margin-left: 20px;
}